* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(236, 237, 237);
}
/* ---------main----------------- */

/* --------------slideshow---------- */
.slideshow {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  /* margin-top: -23px; */
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/*
  
   Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;

  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
/* --------------slideshow ends---------- */
.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home .home-image {
  width: 100%;
  z-index: -1;
  margin-bottom: -300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home .home-container .home-row {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.home .home-container .home-row .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 15px;
  /* width: 100%; */
  width: 95%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.home .home-container .home-row .product .product-info {
  text-align: left;
}
.home .home-container .home-row .product img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

/* @media screen and (min-width:1500%) {
  .slideshow{
      padding:1.5rem 14rem!important;
  }
} */


/* ------------------------------------------------------------ */
